# Node modules and logs
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv
.env

# Uploads (if you're not versioning test DXF files)
uploads

# Ignore coverage if you're using testing tools like Jest
coverage

# Mac system files
.DS_Store

# VSCode
.vscode
